.nested-fields
  .ui.grid
    .three.wide.column
      .field.name
        #item_name= f.input :name, label: false, collection: @item_type, default: "Item", input_html: { class: 'ui search dropdown'}
    .six.wide.column
      .field
        #description= f.input :description, label: false, placeholder: "Description", input_html: { class: 'ui input', style: 'margin-left: 75px;' }
    .six.wide.column
      .field
        #quantity= f.input :quantity, label: false, input_html: { value: f.object.quantity ||'1', class: 'ui input', style: 'width: 75px; float: right;' }
    .one.wide.column
      = link_to_remove_association  f do
        %i.red.trash.alternate.icon{style: "float: right; margin-top: 10px;"}

:javascript
  $('select.dropdown').dropdown();

  $( ".name" ).change(function() {
    var value = $(this).find("#item_name :selected").text();
    if(value == 'Other'){
      $(this).closest('.grid').find('#description .input').css("border-color", "blue");
    }else {
      $(this).closest('.grid').find('#description .input').css("border-color", "");
    } 
  });
