.ui.aligned.basic.segment
  .ui.grid
    .twelve.wide.column
      %h1.ui.header{style: 'font-size: 9em'}
        = image_tag('logo.png')
    .four.wide.column
      %h3.ui.header{style: 'padding-top: 25px'}
        Get your free quote
        .sub.header Call 833.485.2929

.ui.divider{style: 'background-color: red'}

.ui.basic.segment
  .ui.grid
    .one.wide.column
    .ten.wide.column
      %h1.ui.header{style: 'font-size: 3em'}
        Let us make your next move easy
      .ui.basic.segment
        .ui.huge.list
          .item
            %i.large.check.icon
            .content
              Professional local moves
          .item
            %i.large.check.icon
            .content
              Rates as low as $95.00 per hour
          .item
            %i.large.check.icon
            .content
              Safe and reliable packing
          .item
            %i.large.check.icon
            .content
              Offers full value protection for all your items
          .item
            %i.large.check.icon
            .content
              Try our free online form to get a quick estimate
    .four.wide.column
      .ui.segments
        .ui.inverted.segment
          .h2.ui.header
            Start with your free quote
        .ui.secondary.center.aligned.segment{style: 'padding: 35 25 35 25'}
          %a.ui.fluid.blue.submit.button{href: "tel:+1-833-485-2929", title: "Clicking this button may only works on a mobile phone"} CALL 833.485.2929
          .ui.horizontal.divider OR
          = link_to 'Start with our simple online form', new_build_path, class: "ui fluid blue submit button"

.ui.divider

.ui.basic.center.aligned.segment
  %h1.ui.header{style: 'font-size: 2em'}
    Get a free quote today! Call 833.485.2929