.ui.huge.header Contact
.ui.medium.header Hul-A-Way Moving Company Inc
.content
  .span 740 Hidden Lane
  .br Grosse Pointe Woods, MI 48236

.ui.divider

.ui.medium.header Phone Numbers
.content
  .span (313) 919-3343

.ui.divider

= render partial: 'map'