.ui.container
  .ui.right.floated.horizontal.list
    .disabled.item © Hul-A-Way Moving Company, Inc.
    %a.item Terms
    %a.item Privacy
    = link_to 'Contact', contact_path, class: "a item"
  .ui.horizontal.list
    = link_to 'About Us', info_path, class: "a item"
    %a.item Jobs
